* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;

}
button {
    outline: none;
}

h1 {
    font-family: 'Roboto', sans-serif;
}
.topnav {
    /* height: 10vh; */
}
.navbar-brand {
    font-weight: 600;
    font-size: 29px;
    letter-spacing: 1.9px;
    margin: 0;
}

.navbar-toggler {
    border: none;
    outline: none !important;
}

.entry {
    height:80vh;
    background-image: url("../img/enterance.jpg");
    background-size: cover;
}
