*{
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	// font-family: 'Roboto', sans-serif;
}

html {
	-webkit-font-smoothing: antialiased;
	    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}
div {
	width: 100vw;
	img {
		width: 100%;
	}
}
.header {
	position: fixed;
	top: 0;
}

.name {
	background-color: black;
	padding: 8px;
	a{
		color: white;
		text-decoration: none;
		font-size: 15px;
		padding: 10px;
		font-family: 'Poiret One', cursive;
		font-weight: 300;
		letter-spacing: 3px;
	}
	i {
		margin-left: 10px;
	}
}
.mobileNavBar{
	background-color: white;
	padding-bottom: 1%;
	.menu {
		width: 17%;
		cursor: pointer;
		margin-top: 3%;
		float: left;
		margin-left: 3%;


	}
	.icons {
		width: 32%;
		float: right;
		i {
			font-size: 20px;
			margin-right: 15px;
		}
	}
}

.mobileNavBar:after {
    content: "";
    clear: both;
    display: table;

}


span {
	display: block;
	width: 33px;
	height: 3px;
	margin-bottom: 5px;
	position: relative;
	background: black;
	border-radius: 50px;
}

.entry {
	height: 33vh;
	.welcome {
		margin-top: 29%;
		p {
			font-family: 'Poiret One', cursive !important;
			text-align: center;
			font-size: 30px;
			line-height: 1.7em;
		}
		.pegasus {
			letter-spacing: 1.6px;
			text-transform: uppercase;
		}
		.little {
			font-size: 15px;
			letter-spacing: 1.1px;
			font-style: italic;
		}

	}
}
.anout {
	margin: 40px 0px;
	font-weight: 300;
	padding: 0px 30px;
	h2 {
		font-family: 'Poiret One', cursive;
		text-align: center;
		font-weight: 300;
	    font-size: 32px;
		line-height: 1.5;
		padding-bottom: 4%;
	}
	p {
		font-family: 'Cormorant Garamond', serif;
		font-weight: 300;
		font-size: 22px;
		line-height: 30px;
		color: #1c1c1c;
		text-align: center;
	}
}
.booksWrapper {
	padding:60px 0px;
	background-color: hsl(352, 69%, 34%);
	.speaker{

		height: 60px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 24%;
	}
	.head {
		margin-top: 3%;
		margin-bottom: 5%;
		font-family: 'Poppins', sans-serif;
		text-transform: uppercase;
		letter-spacing: 5px;
		font-size: 12px;
		text-align: center;
		color: #fff;
		font-weight: 600;

	}
	.booksAndEvents {
		padding-bottom: 5%;
	}
	.poster ,.eventsInfo,.seeMore {

		padding: 0px 34px;
		color: #fff;

	}
	.eventsInfo {
		margin-top: 3%;
		p ,a{
			line-height: 1.3em;
			font-family: 'Cormorant Garamond', serif;
			font-size: 18px;
			font-weight: 500;
			color: #fff;
			text-decoration: none;


		}
		.nameOfEvent {
			padding-top: 10px;
			font-size: 30px;
			font-weight: 100;
			font-style: italic;
			line-height: 31px;
			font-family: 'Cormorant Garamond', serif;
			padding-bottom: 3%;
		}
		a {
			i {
				margin-left: 10px;
			}
		}
	}
	.seeMore {
		p {
			font-family: 'Cormorant Garamond', serif;
			text-align: center;
			border: 1px solid #fff;
			padding: 10px 20px;
		}

	}
}

.buyWrapper {
	margin-top: 19%;
	img {
		height: 60px;
	    display: block;
	    margin-left: auto;
	    margin-right: auto;
	    width: 24%;
	}
	.toBuy {
		padding-top: 4px;
		text-align: center;
		font-family: 'Poppins', sans-serif;
		letter-spacing: 4px;
		font-size: 12px;
		font-weight: 600;
		line-height: 1;
	}
}

.contactUs {
	text-decoration: underline;
	// line-height: 37px;
}
